<%- include("partials/loggedInHeader"); -%>
<h1 class="page-intro">Contact</h1>

<p style="padding-left: 2px;">
  Would you like to contact me? Look on my portfolio website on the contact page to send me an email.
</p>
<%- include("partials/footer"); -%>
